<div class="container-fluid" style="display: flex;">
  <div class="row">
    <h2>Category</h2>
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4">
      @for (item of categoryList$ | async; track $index) {
      <button class="btn category-btn btn-dark m-2"
        (click)="getProductByCategory(item.categoryId)">{{item.categoryName}}</button>
      }
    </div>

    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 align-middle">
      @for (item of productList(); track $index) {
      <div class="col pt-3">
        <div class="card product-card h-100">
          <span class="category-badge bg-dark text-white">{{item.categoryName}}</span>
          <!-- Product image-->
          <img class="card-img-top product-image" [src]="item.productImageUrl" alt="..." />
          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name-->
              <h5 class="card-title fw-bolder">{{item.productName}}</h5>
              <!-- Product price-->
              <div class="product-price">${{item.productPrice}}</div>
            </div>
          </div>
          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <button class="btn add-to-cart-btn btn-outline-dark mt-auto w-100" (click)="onAddToCart(item.productId)">Add
              to
              cart</button>
          </div>
        </div>
      </div>
      }
    </div>

  </div>
</div>